@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@100;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply bg-neutral-white font-barlow font-fw-regular;
    font-size: 62.5%;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  button {
    @apply font-Fraunces;
  }
}

.scrollDown {
  animation: scrollDown 2s ease-in-out infinite;
}

@keyframes scrollDown {
  0% {
    transform: translateY(-1rem);
  }
  50% {
    transform: translateY(2rem);
  }
  100% {
    transform: translateY(-1rem);
  }
}
